
.center {
  text-align: center;
}

h1 {
  background-color: blue;
  color: white;
}

img {
  max-width: 100%;
}

ul, li {
  list-style-type: none;
}

table {
  width: 100%;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

th, tr, td {
  max-width: 200px;
  border: 1px solid black;
  padding: 10px;
}

button {
  border: none;
  background-color: #04AA6D;
  color: white;
  font-size: 12px;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #12855B;
}

fieldset {
  border: 1px solid blue;
  margin-bottom: 10px;
}

legend {
  background-color: #04AA6D;
  color: white;
  padding: 5px;
}